@import './index.scss';

.tvu-login__form {
  @apply p-4 rounded bg-white grid grid-cols-1 gap-y-4;

  .tvu-login__input,
  .tvu-login__captcha {
    input {
      @apply rounded p-2 border-2 border-gray-200;
    }
  }

  .tvu-login__input {
    @apply relative;
    input {
      @apply w-full;
    }

    .tvu-login__password--close::after {
      @apply absolute right-2 top-0 bottom-0;
      width: 2rem;
      content: '';
      background: url("data:image/svg+xml,%3Csvg t='1651746008100' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='1349' width='25' height='25'%3E%3Cpath d='M469.333 681.387c-36.053-2.432-71.253-8.534-104.96-17.92L294.571 813.14a42.368 42.368 0 0 1-56.534 20.267 42.667 42.667 0 0 1-20.821-56.32l66.987-143.659a451.712 451.712 0 0 1-148.907-112.682 388.693 388.693 0 0 1-70.57-119.339 42.667 42.667 0 1 1 80.127-29.355 303.445 303.445 0 0 0 55.211 93.099c70.57 82.261 182.955 132.181 305.664 132.181 122.752 0 235.136-49.962 305.707-132.181a303.445 303.445 0 0 0 55.21-93.099 42.667 42.667 0 0 1 80.128 29.355 388.693 388.693 0 0 1-70.57 119.339 423.68 423.68 0 0 1-18.774 20.48l104.363 104.362a42.667 42.667 0 0 1-0.299 60.032 42.368 42.368 0 0 1-60.032 0.299L791.808 596.267c-20.48 14.08-42.24 26.581-65.024 37.418l66.901 143.36a42.667 42.667 0 0 1-20.821 56.363 42.368 42.368 0 0 1-56.533-20.267l-69.718-149.546a520.533 520.533 0 0 1-91.946 16.81v130.646A42.667 42.667 0 0 1 512 853.333c-23.723 0-42.667-18.944-42.667-42.24V681.387z' p-id='1350' fill='%23515151'%3E%3C/path%3E%3Cpath d='M176.128 524.373a42.368 42.368 0 0 1 60.032 0.256 42.667 42.667 0 0 1 0.299 60.075L115.243 705.92a42.368 42.368 0 0 1-60.075-0.299 42.667 42.667 0 0 1-0.299-60.032l121.259-121.258z' p-id='1351' fill='%23515151'%3E%3C/path%3E%3C/svg%3E")
        center no-repeat;
      background-size: 100% auto;
    }
    .tvu-login__password--open::after {
      @apply absolute right-2 top-0 bottom-0;
      width: 2rem;
      content: '';
      background: url("data:image/svg+xml,%3Csvg t='1651747015973' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='1642' width='25' height='25'%3E%3Cpath d='M512.014222 906.666667C344.647111 906.666667 35.555556 780.558222 35.555556 600.888889c0-179.683556 309.091556-305.777778 476.458666-305.777778 167.338667 0 476.444444 126.094222 476.444445 305.777778 0 179.669333-309.105778 305.777778-476.444445 305.777778z m0-554.666667C353.934222 352 92.444444 468.323556 92.444444 600.888889c0 132.551111 261.504 248.888889 419.569778 248.888889 158.051556 0 419.555556-116.337778 419.555556-248.888889 0-132.565333-261.504-248.888889-419.555556-248.888889z' fill='%23515151' p-id='1643'%3E%3C/path%3E%3Cpath d='M512.014222 752.597333c-82.360889 0-149.347556-66.972444-149.347555-149.333333 0-82.346667 67.000889-149.333333 149.347555-149.333333 82.332444 0 149.333333 66.986667 149.333334 149.333333 0 82.360889-67.000889 149.333333-149.333334 149.333333z m0-270.222222c-66.673778 0-120.903111 54.243556-120.903111 120.888889 0 66.673778 54.229333 120.888889 120.903111 120.888889 66.645333 0 120.888889-54.229333 120.888889-120.888889 0-66.645333-54.243556-120.888889-120.888889-120.888889z' fill='%23515151' p-id='1644'%3E%3C/path%3E%3Cpath d='M456.149333 566.172444a14.250667 14.250667 0 0 1-10.467555-23.864888c2.844444-3.086222 5.902222-6.001778 9.159111-8.661334a14.222222 14.222222 0 1 1 18.090667 21.973334c-2.247111 1.834667-4.366222 3.84-6.314667 5.944888a14.179556 14.179556 0 0 1-10.467556 4.608zM512.014222 693.333333a90.183111 90.183111 0 0 1-90.097778-90.083555 14.222222 14.222222 0 1 1 28.444445 0 61.710222 61.710222 0 0 0 61.653333 61.639111 14.222222 14.222222 0 1 1 0 28.444444zM510.236444 259.555556a28.444444 28.444444 0 0 1-28.444444-28.444445v-85.333333a28.444444 28.444444 0 0 1 56.888889 0v85.333333c0 15.701333-12.757333 28.444444-28.444445 28.444445zM346.353778 269.226667a28.401778 28.401778 0 0 1-25.429334-15.658667l-26.339555-52.337778a28.444444 28.444444 0 0 1 12.629333-38.200889 28.430222 28.430222 0 0 1 38.200889 12.615111l26.339556 52.337778a28.444444 28.444444 0 0 1-25.400889 41.244445zM180.394667 335.175111a28.359111 28.359111 0 0 1-21.162667-9.429333l-36.977778-41.159111a28.444444 28.444444 0 1 1 42.311111-38.030223l36.977778 41.159112a28.444444 28.444444 0 0 1-21.148444 47.459555zM662.485333 269.226667a28.444444 28.444444 0 0 1-25.386666-41.244445l26.339555-52.337778a28.416 28.416 0 0 1 38.200889-12.615111 28.444444 28.444444 0 0 1 12.615111 38.200889l-26.339555 52.337778a28.416 28.416 0 0 1-25.429334 15.658667zM828.430222 335.175111a28.444444 28.444444 0 0 1-21.134222-47.459555l36.977778-41.159112a28.444444 28.444444 0 1 1 42.296889 38.030223l-36.977778 41.159111c-5.603556 6.257778-13.354667 9.429333-21.162667 9.429333z' fill='%23515151' p-id='1645'%3E%3C/path%3E%3C/svg%3E")
        center no-repeat;
    }
    background-size: 100% auto;
  }

  .tvu-login__captcha {
    @apply flex;
    input {
      @apply flex-grow flex-shrink;
      min-width: 6rem;
    }
    button {
      @apply flex-none;
      width: 2rem;
      background: url("data:image/svg+xml,%3Csvg t='1651758677963' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='1157' width='25' height='25'%3E%3Cpath d='M872.802928 755.99406 872.864326 755.99406 872.864326 755.624646Z' p-id='1158'%3E%3C/path%3E%3Cpath d='M922.268526 475.740168c-10.490935-10.727319-28.947286-10.815323-39.587624-0.366344l-18.368346 18.059308c-9.727549-206.461235-177.482227-367.192963-384.91458-367.192963-212.706473 0-385.751644 173.045171-385.751644 385.752668 0 212.720799 173.045171 385.766994 385.751644 385.766994 113.354698 0 220.62891-50.167586 293.924239-137.161916 3.2623-2.495844 5.907547-5.494131 7.907087-8.875135 0.26606-0.322341 0.557702-0.64673 0.853437-0.940418l1.880837-2.998287-0.618077-0.322341c1.26276-3.321652 1.851161-6.5246 1.851161-9.815553 0-16.077164-13.049201-29.155017-29.124318-29.155017-9.66922 0-18.721387 5.142114-23.982204 13.489222-62.806441 75.444273-154.911162 118.734218-252.691139 118.734218-181.244924 0-328.751443-147.447167-328.751443-328.721767 0-181.231621 147.506519-328.72279 328.751443-328.72279 180.070168 0 326.782601 145.509025 328.693114 325.122799l-32.709983-32.813337c-10.552334-10.623965-29.036313-10.653641-39.588647-0.086981-10.991332 10.933003-10.991332 28.712949-0.059352 39.660278l69.064982 69.226664c5.262864 5.320169 12.31549 8.229428 19.778462 8.229428l0.324388-0.028653 0.733711 0.23536c1.589195 0.38067 3.321652 0.851391 5.232165 0.851391 7.375991 0 14.34266-2.849908 19.633153-8.022721l71.445192-70.300113c5.348821-5.246491 8.346085-12.31549 8.405437-19.808138C930.410973 488.069985 927.529343 481.059314 922.268526 475.740168' p-id='1159'%3E%3C/path%3E%3C/svg%3E")
        center no-repeat;
      background-size: 100% auto;
    }
    div {
      @apply flex-none;
      width: 150px;
    }
  }
  .tvu-login__error--tip {
    @apply flex text-red-600;
    i {
      @apply mr-1;
      width: 25px;
      background: url("data:image/svg+xml,%3Csvg t='1653197609608' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='4434' width='25' height='25'%3E%3Cpath d='M955.7 856l-416-720c-6.2-10.7-16.9-16-27.7-16s-21.6 5.3-27.7 16l-416 720C56 877.4 71.4 904 96 904h832c24.6 0 40-26.6 27.7-48zM480 416c0-4.4 3.6-8 8-8h48c4.4 0 8 3.6 8 8v184c0 4.4-3.6 8-8 8h-48c-4.4 0-8-3.6-8-8V416z m32 352c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48z' p-id='4435' fill='%23dc2626'%3E%3C/path%3E%3C/svg%3E")
        center no-repeat;
    }
  }

  .tvu-login__button {
    button {
      @apply w-full bg-blue-600 text-white font-bold py-2 px-4 rounded;
    }

    button:hover {
      @apply bg-blue-700;
    }
  }
}
