@import './index.scss';

.tvu-sms-code__form {
  @apply p-4 rounded bg-white grid grid-cols-1 gap-y-4;

  .tvu-sms-code__input,
  .tvu-captcha__code,
  .tvu-sms-code__code {
    input {
      @apply rounded p-2 border-2 border-gray-200;
    }
  }

  .tvu-sms-code__input {
    input {
      @apply w-full;
    }
  }
  .tvu-captcha__code{
    @apply grid;
    grid-template-columns: 50% 40% 10%;
    input {
      //@apply flex-grow;
    }
    button{
      @apply w-full;
      background: url("data:image/svg+xml,%3Csvg t='1651758677963' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='1157' width='25' height='25'%3E%3Cpath d='M872.802928 755.99406 872.864326 755.99406 872.864326 755.624646Z' p-id='1158'%3E%3C/path%3E%3Cpath d='M922.268526 475.740168c-10.490935-10.727319-28.947286-10.815323-39.587624-0.366344l-18.368346 18.059308c-9.727549-206.461235-177.482227-367.192963-384.91458-367.192963-212.706473 0-385.751644 173.045171-385.751644 385.752668 0 212.720799 173.045171 385.766994 385.751644 385.766994 113.354698 0 220.62891-50.167586 293.924239-137.161916 3.2623-2.495844 5.907547-5.494131 7.907087-8.875135 0.26606-0.322341 0.557702-0.64673 0.853437-0.940418l1.880837-2.998287-0.618077-0.322341c1.26276-3.321652 1.851161-6.5246 1.851161-9.815553 0-16.077164-13.049201-29.155017-29.124318-29.155017-9.66922 0-18.721387 5.142114-23.982204 13.489222-62.806441 75.444273-154.911162 118.734218-252.691139 118.734218-181.244924 0-328.751443-147.447167-328.751443-328.721767 0-181.231621 147.506519-328.72279 328.751443-328.72279 180.070168 0 326.782601 145.509025 328.693114 325.122799l-32.709983-32.813337c-10.552334-10.623965-29.036313-10.653641-39.588647-0.086981-10.991332 10.933003-10.991332 28.712949-0.059352 39.660278l69.064982 69.226664c5.262864 5.320169 12.31549 8.229428 19.778462 8.229428l0.324388-0.028653 0.733711 0.23536c1.589195 0.38067 3.321652 0.851391 5.232165 0.851391 7.375991 0 14.34266-2.849908 19.633153-8.022721l71.445192-70.300113c5.348821-5.246491 8.346085-12.31549 8.405437-19.808138C930.410973 488.069985 927.529343 481.059314 922.268526 475.740168' p-id='1159'%3E%3C/path%3E%3C/svg%3E")center no-repeat ;
      background-size: 100% auto;
    }
    div{
      @apply flex;
    }
  }
  .tvu-sms-code__code {
    @apply grid;
    grid-template-columns: 60% 40%;
    input {
      //@apply flex-grow;
    }

    button {
      //@apply w-full;
      // background: url("data:image/svg+xml,%3Csvg t='1653152713288' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='3846' width='25' height='25'%3E%3Cpath d='M914.6368 136.4992L97.1264 565.9648c-9.728 5.12-9.2672 19.1488 0.7168 23.6544l254.4128 114.176c10.9568 4.9152 23.8592-0.5632 27.8016-12.1856 3.4304-10.1376-2.0992-21.1456-11.8272-25.5488l-189.3376-84.992c-4.9152-2.2016-5.12-9.0624-0.3584-11.5712L808.96 238.2336c1.2288-0.6144 2.4064 0.8704 1.4848 1.8944l-406.9376 464.8448c-0.1536 0.2048-7.3728 8.2944-8.192 13.6704l-22.3232 146.2272c-1.4848 9.6768 3.6864 19.456 12.8 22.8864 12.5952 4.7104 25.6512-3.5328 27.5456-16.0256l19.3536-126.7712c1.024-6.8096 7.68-11.3152 14.3872-9.7792L751.36 819.2c6.656 1.4336 13.3632-2.4576 15.36-8.96L933.2224 152.064c3.5328-11.264-8.2432-21.0432-18.5856-15.5648z m-175.872 625.664a13.17888 13.17888 0 0 1-15.36 8.96L482.304 701.3376c-7.9872-1.8432-11.1104-11.5712-5.6832-17.7152l382.2592-436.6336c0.8192-0.9728 2.4064-0.1536 2.0992 1.0752l-122.2144 514.0992z' fill='%23515151' p-id='3847'%3E%3C/path%3E%3C/svg%3E") center no-repeat;
      // background-size: 100% auto;
      @apply rounded bg-blue-600 p-2 text-white shadow-md;
    }

    button:hover {
      @apply bg-blue-700;
    }
  }

  .tvu-sms-code__button {
    button {
      @apply w-full bg-blue-600 text-white font-bold py-2 px-4 rounded;
    }

    button:hover {
      @apply bg-blue-700;
    }
  }
}
