@import '../style/tailwind.common.scss';

.tvu-jdoc__root {
  @apply flex flex-col gap-y-4;

  .tvu-jdoc__field {
    @apply flex flex-col gap-y-2;
    .tvu-jdoc__field-fullname {
      @apply text-gray-300;
      > div {
        @apply overflow-hidden whitespace-nowrap;
      }
    }
    input.tvu-jdoc__field-input:read-only {
      @apply bg-gray-100;
    }
    [data-one-of-field-selected='false'] {
      display: none;
    }
    .tvu-jdoc__password {
      @apply relative;
      input {
        @apply w-full;
      }

      .tvu-jdoc__password--close::after {
        @apply absolute right-2 top-0 bottom-0;
        width: 2rem;
        content: '';
        background: url("data:image/svg+xml,%3Csvg t='1651746008100' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='1349' width='25' height='25'%3E%3Cpath d='M469.333 681.387c-36.053-2.432-71.253-8.534-104.96-17.92L294.571 813.14a42.368 42.368 0 0 1-56.534 20.267 42.667 42.667 0 0 1-20.821-56.32l66.987-143.659a451.712 451.712 0 0 1-148.907-112.682 388.693 388.693 0 0 1-70.57-119.339 42.667 42.667 0 1 1 80.127-29.355 303.445 303.445 0 0 0 55.211 93.099c70.57 82.261 182.955 132.181 305.664 132.181 122.752 0 235.136-49.962 305.707-132.181a303.445 303.445 0 0 0 55.21-93.099 42.667 42.667 0 0 1 80.128 29.355 388.693 388.693 0 0 1-70.57 119.339 423.68 423.68 0 0 1-18.774 20.48l104.363 104.362a42.667 42.667 0 0 1-0.299 60.032 42.368 42.368 0 0 1-60.032 0.299L791.808 596.267c-20.48 14.08-42.24 26.581-65.024 37.418l66.901 143.36a42.667 42.667 0 0 1-20.821 56.363 42.368 42.368 0 0 1-56.533-20.267l-69.718-149.546a520.533 520.533 0 0 1-91.946 16.81v130.646A42.667 42.667 0 0 1 512 853.333c-23.723 0-42.667-18.944-42.667-42.24V681.387z' p-id='1350' fill='%23515151'%3E%3C/path%3E%3Cpath d='M176.128 524.373a42.368 42.368 0 0 1 60.032 0.256 42.667 42.667 0 0 1 0.299 60.075L115.243 705.92a42.368 42.368 0 0 1-60.075-0.299 42.667 42.667 0 0 1-0.299-60.032l121.259-121.258z' p-id='1351' fill='%23515151'%3E%3C/path%3E%3C/svg%3E")
          center no-repeat;
        background-size: 100% auto;
      }
      .tvu-jdoc__password--open::after {
        @apply absolute right-2 top-0 bottom-0;
        width: 2rem;
        content: '';
        background: url("data:image/svg+xml,%3Csvg t='1651747015973' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='1642' width='25' height='25'%3E%3Cpath d='M512.014222 906.666667C344.647111 906.666667 35.555556 780.558222 35.555556 600.888889c0-179.683556 309.091556-305.777778 476.458666-305.777778 167.338667 0 476.444444 126.094222 476.444445 305.777778 0 179.669333-309.105778 305.777778-476.444445 305.777778z m0-554.666667C353.934222 352 92.444444 468.323556 92.444444 600.888889c0 132.551111 261.504 248.888889 419.569778 248.888889 158.051556 0 419.555556-116.337778 419.555556-248.888889 0-132.565333-261.504-248.888889-419.555556-248.888889z' fill='%23515151' p-id='1643'%3E%3C/path%3E%3Cpath d='M512.014222 752.597333c-82.360889 0-149.347556-66.972444-149.347555-149.333333 0-82.346667 67.000889-149.333333 149.347555-149.333333 82.332444 0 149.333333 66.986667 149.333334 149.333333 0 82.360889-67.000889 149.333333-149.333334 149.333333z m0-270.222222c-66.673778 0-120.903111 54.243556-120.903111 120.888889 0 66.673778 54.229333 120.888889 120.903111 120.888889 66.645333 0 120.888889-54.229333 120.888889-120.888889 0-66.645333-54.243556-120.888889-120.888889-120.888889z' fill='%23515151' p-id='1644'%3E%3C/path%3E%3Cpath d='M456.149333 566.172444a14.250667 14.250667 0 0 1-10.467555-23.864888c2.844444-3.086222 5.902222-6.001778 9.159111-8.661334a14.222222 14.222222 0 1 1 18.090667 21.973334c-2.247111 1.834667-4.366222 3.84-6.314667 5.944888a14.179556 14.179556 0 0 1-10.467556 4.608zM512.014222 693.333333a90.183111 90.183111 0 0 1-90.097778-90.083555 14.222222 14.222222 0 1 1 28.444445 0 61.710222 61.710222 0 0 0 61.653333 61.639111 14.222222 14.222222 0 1 1 0 28.444444zM510.236444 259.555556a28.444444 28.444444 0 0 1-28.444444-28.444445v-85.333333a28.444444 28.444444 0 0 1 56.888889 0v85.333333c0 15.701333-12.757333 28.444444-28.444445 28.444445zM346.353778 269.226667a28.401778 28.401778 0 0 1-25.429334-15.658667l-26.339555-52.337778a28.444444 28.444444 0 0 1 12.629333-38.200889 28.430222 28.430222 0 0 1 38.200889 12.615111l26.339556 52.337778a28.444444 28.444444 0 0 1-25.400889 41.244445zM180.394667 335.175111a28.359111 28.359111 0 0 1-21.162667-9.429333l-36.977778-41.159111a28.444444 28.444444 0 1 1 42.311111-38.030223l36.977778 41.159112a28.444444 28.444444 0 0 1-21.148444 47.459555zM662.485333 269.226667a28.444444 28.444444 0 0 1-25.386666-41.244445l26.339555-52.337778a28.416 28.416 0 0 1 38.200889-12.615111 28.444444 28.444444 0 0 1 12.615111 38.200889l-26.339555 52.337778a28.416 28.416 0 0 1-25.429334 15.658667zM828.430222 335.175111a28.444444 28.444444 0 0 1-21.134222-47.459555l36.977778-41.159112a28.444444 28.444444 0 1 1 42.296889 38.030223l-36.977778 41.159111c-5.603556 6.257778-13.354667 9.429333-21.162667 9.429333z' fill='%23515151' p-id='1645'%3E%3C/path%3E%3C/svg%3E")
          center no-repeat;
      }
      background-size: 100% auto;
    }
  }
  /*叶字段锁进*/
  .tvu-jdoc__field[data-leaf-field] > :first-child {
    margin-left: 1.5rem;
    position: relative;
    &::before {
      position: absolute;
      left: -1.5rem;
      top: 0;
      bottom: 0;
      width: 1rem;
      border: 1px solid lightgray;
      border-radius: 4px;
      text-align: center;
    }
  }
  .tvu-jdoc__field[data-leaf-field='string'] {
    > :first-child::before {
      content: 'S';
    }
  }
  .tvu-jdoc__field[data-leaf-field='number'] {
    > :first-child::before {
      content: 'N';
    }
  }
  .tvu-jdoc__field[data-leaf-field='integer'] {
    > :first-child::before {
      content: 'I';
    }
  }
  .tvu-jdoc__field[data-leaf-field='boolean'] {
    > :first-child::before {
      content: 'B';
    }
  }
  .tvu-jdoc__field[data-leaf-field='json'] {
    > :first-child::before {
      content: 'J';
    }
  }
  /*嵌套字段为折叠状态*/
  .tvu-jdoc__field[data-collapsed-field] > :first-child {
    margin-left: 1.5rem;
    position: relative;
    &::before {
      position: absolute;
      left: -1.5rem;
      top: 0;
      bottom: 0;
      width: 1rem;
      border: 1px solid lightgray;
      border-radius: 4px;
      text-align: center;
    }
  }
  .tvu-jdoc__field[data-collapsed-field='true'] {
    > :first-child::before {
      content: '+';
    }
    > .tvu-jdoc__nest {
      display: none;
    }
  }
  .tvu-jdoc__field[data-collapsed-field='false'] {
    > :first-child::before {
      content: '-';
    }
  }
  /*当前为激活状态的字段*/
  .tvu-jdoc__field[data-leaf-field].tvu-jdoc__field--active > :first-child,
  .tvu-jdoc__field[data-collapsed-field].tvu-jdoc__field--active
    > :first-child {
    &::before {
      @apply bg-blue-500 text-white;
    }
  }
  /*标记oneOf亲和组*/
  .tvu-jdoc__field[data-one-of-field-selected='ingroup-0'] > :first-child {
    &::before {
      @apply border-red-500 text-red-500;
    }
  }
  .tvu-jdoc__field[data-one-of-field-selected='ingroup-1'] > :first-child {
    &::before {
      @apply border-red-700 text-red-700;
    }
  }
  .tvu-jdoc__field[data-one-of-field-selected='ingroup-2'] > :first-child {
    &::before {
      @apply border-red-900 text-red-900;
    }
  }

  .tvu-jdoc__field-label {
    > div {
      @apply overflow-hidden whitespace-nowrap;
      .tvu-jdoc__field-label__field-name {
        @apply ml-2 text-gray-400;
      }
    }
  }
  .tvu-jdoc__field-name {
    input {
      @apply w-full bg-green-50;
    }
  }
  .tvu-jdoc__nest {
    @apply flex flex-col gap-4;
    &.tvu-jdoc__nest--depth {
      @apply flex flex-col gap-2 ml-2 pl-2 border-l border-gray-200;
    }
    .tvu-jdoc__nest__actions,
    .tvu-jdoc__field-actions,
    .tvu-jdoc__nest__item__actions {
      @apply flex flex-row flex-wrap gap-2 p-2;
    }
    .tvu-jdoc__nest__actions {
      @apply border-t-2 border-gray-200 border-dashed;
    }
  }
  .tvu-jdoc__field.tvu-jdoc__field--active {
    & > .tvu-jdoc__nest {
      &.tvu-jdoc__nest--depth {
        @apply border-blue-300;
      }
    }
  }
  .tvu-jdoc__field-desc {
    @apply border border-dashed border-gray-200 rounded-md text-gray-400 p-2 text-sm;
  }
}
